{% extends 'base.html' %}
{% block topNav %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;

}
table#t01 th {
    background-color: #6E7472;
    color: white;
}
</style>
<script>
    $(function() {
    var start = moment().subtract(2, 'days').subtract(7,'days');
    var end = moment().subtract(2, 'days');
    function cb(start, end) {
        $('#reportrange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker({
        "minDate": "1/1/2016",
        maxDate:moment().subtract(2, 'days'),
        startDate: start,
        endDate: end,
        "opens": "center",
        "alwaysShowCalendars": false,
    }, cb);
    cb(start, end);
});
$(document).ready(function(){
    $(".applyBtn").off().on('click', function(){
        $("#mySelect").val("CustomRange")
    });
});
function func1() {
  document.getElementById("mySelect").value="7"
};
window.onload=func1;
</script>
<div class="row">
    <div>
        <form class="form-inline" style="margin-left:-185px" method="post" action="/">
          <div class="form-group mb-2">
              <label style="margin:-2px" class="lb"><b>SELECT DATES:&nbsp</b></label>
              <select style="width:200px;" class="form-control sl"  name="option" onChange="myFunction()" id="mySelect">
                <option value="7">Weekly Report</option>
                <option value="Week">Last 7 days</option>
                <option value="30">This Month (Last 4 Weeks)</option>
                <option value="LastMonth">Prev. Month</option>
                <option value="LastMonthPrevYear">Prev. Month of Past Year</option>
                <option value="12">Last 12 Months</option>
                <option value="LastYear">Last Year</option>
                <option value="CustomRange">Custom Range</option>
              </select>
          </div>
          <div id="demo" class="form-group "><input class="form-rounded" name="dates" id="reportrange" readonly/></div>
          <button style="margin:10px" type="submit" name="action" value="submit" class="btn btn-danger">Submit</button>
            <button data-href-template="" style="margin:10px" name="action" value="mail" class="btn btn-danger">Send E-Mail</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div  style="text-align:center;margin: 70px 10px 20px 10px;">
   <h3> Your Website Traffic Report Has Been Sent to Your Email... <i class="fa fa-thumbs-o-up" style="font-size:35px;color:#099964"></i><br/>
 <font size="2"> Here’s a copy of the report for your reference.</font></h3>
</div>
{% endblock %}