{% extends 'base.html' %}
{% block topNav %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table#t01 th {
    background-color: #6E7472;
    color: white;
}
</style>
<script>
    $(function() {
    var start = moment().subtract(2, 'days').subtract(7,'days');
    var end = moment().subtract(2, 'days');
    function cb(start, end) {
        $('#reportrange').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
    }
    $('#reportrange').daterangepicker({
        "minDate": "1/1/2016",
        maxDate:moment().subtract(2, 'days'),
        startDate: start,
        endDate: end,
        "opens": "center",
        "alwaysShowCalendars": false,
    }, cb);
    cb(start, end);
});
$(document).ready(function(){
    $(".applyBtn").off().on('click', function(){
        $("#mySelect").val("CustomRange")
    });
});
function func1() {
  document.getElementById("mySelect").value="7"
};
window.onload=func1;
</script>
<div class="row">
    <div>
        <form class="form-inline" style="margin-left:-185px" method="post" action="/">
          <div class="form-group mb-2">
              <label style="margin:-2px" class="lb"><b>SELECT DATES:&nbsp</b></label>
              <select style="width:200px;" class="form-control sl"  name="option" onChange="myFunction()" id="mySelect">
                <option value="7">Weekly Report</option>
                <option value="Week">Last 7 days</option>
                <option value="30">This Month (Last 4 Weeks)</option>
                <option value="LastMonth">Prev. Month</option>
                <option value="LastMonthPrevYear">Prev. Month of Past Year</option>
                <option value="12">Last 12 Months</option>
                <option value="LastYear">Last Year</option>
                <option value="CustomRange">Custom Range</option>
              </select>
          </div>
          <div id="demo" class="form-group "><input class="form-rounded" name="dates" id="reportrange" readonly/></div>
          <button style="margin:10px" type="submit" name="action" value="submit" class="btn btn-danger">Submit</button>
            <button data-href-template="" style="margin:10px" name="action" value="mail" class="btn btn-danger">Send E-Mail</button>
        </form>
    </div>
</div>
{% endblock %}
{% block content %}
<div  style="text-align:center;margin: 70px 10px 20px 10px;">
    <h3> Your Website Traffic Report Has Been Sent to Your Email... <i class="fa fa-thumbs-o-up" style="font-size:30px;color:#099964"></i><br/>
  <font size="2"> Here’s a copy of the report for your reference.</font></h3>
</div>
<footer>
    <div class="pull-right">

Hi,<br><br>
Here’s your website traffic report for Last 7 Days (21-Aug-18 to 27-Aug-18) vs (14-Aug-18 to 20-Aug-18)<br><br>


<b>Visits</b> &emsp;&emsp;                        : 14008(+4.72) —> [Search: +7.20%; Direct: -6.79%, Referral: +15.03%, Social: +15.52%, Paid: -2.04%]<br><br>

<b>Web Enquiries</b> &emsp;&emsp;          :  37 (+19.35%)<br>

By Source [Search: 15; Agent pop-up: 7; Ads: 5; Unknown: 8; Referral: 2; Social:0]<br>
By Region [UK: 13; USA: 13; ROW: 5, IND: 2; SEA: 0; FR: 1; CN: 0; ANZ: 3]<br>
By Device [Desktop: 29; Mobile: 7]<br><br>

<b>Newsletter widget</b> &emsp;&emsp;     : 40(-23.08%) subscriptions<br><br>

<b>Social Stats</b>               : 121,351 followers (+426 this week) —> [Posts :30; Engagements : 4854; Connected : 2500]<br><br><br>
<b>Online Ads</b><br>
<table style="width:50%" id="t01">
  <tr>
    <th>Channel</th>
    <th>Clicks</th>
    <th>Impr.</th>
      <th>CTR</th>
    <th>Cost</th>
    <th>Enquiries</th>
      <th>Cost/ Conv</th>
  </tr>
  <tr>
    <td>Google</td>
    <td>161</td>
    <td>2,976</td>
      <td>5.41%</td>
    <td>$188.10</td>
    <td>5</td>
      <td>$37.62</td>
  </tr>
  <tr>
    <td>Bing</td>
    <td>00</td>
    <td>50</td>
      <td>00</td>
    <td>00</td>
    <td>50</td>
      <td>50</td>
  </tr>
  <tr>
    <td>Facebook</td>
    <td>00</td>
    <td>50</td>
      <td>--</td>
    <td>--</td>
    <td>50</td>
      <td>50</td>
  </tr>
    <tr>
    <td>Total</td>
    <td>--</td>
    <td>50</td>
      <td>--</td>
    <td>--</td>
    <td>50</td>
      <td>50</td>
  </tr>
</table>
<br><br>
USA    : 1<br>
UK       : 3<br>
ANZ     : 1<br><br>
<b>Converted Search terms:</b><br>
animators, art agents in slough, illustartor london, comission illustrators near brentford, freelance illustrators australia,<br>
<br><br>
Many thanks,<br>
Paul.
    </div>
</footer>
{% endblock %}